extends layout

block content
	h3= title
	div
		button.button(onClick='courseList()') List All Courses
		button.button(onClick='userCourseList(1,"enrolled")') List HG's Courses
		button.button(onClick='userCourseDelete(1,3)') Delete HG's Enrollment in CS
		button.button(onClick='userCourseAdd(1,3)') Enroll HG in CS
	div(id='returnError')
	div(id='returnJson')
		pre
			code.JSON(id='returnJsonCode')
