extends layout

block content
	h3= title
	div
		select(id='users')
			option(value=1) Granger, Hermione
			option(value=3) Potter, Harry
			option(value=2) Weasley, Ron
	div
		button.button(onClick='courseList()') List All Courses
		button.button(onClick='userCourseList($("#users").val(),"enrolled")') List Student's Courses
		button.button(onClick='userCourseDelete($("#users").val(),3)') Delete Student's Enrollment in CS
		button.button(onClick='userCourseAdd($("#users").val(),3)') Enroll Student in CS
	div(id='returnError')
	div(id='returnJson')
		pre
			code.JSON(id='returnJsonCode')
